$fontFamilyMain: "Roboto", "Ubuntu", "Cantarell", Helvetica, sans-serif;
$fontFamilySecondary: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
$whiteColor: rgb(255, 255, 255);
$greyColor: rgb(238, 238, 238);
$greenColor: rgb(27, 162, 155);
$mainFontWeight: 300;
$fullWidth: 100%;
